{% load static %}
{% load i18n %}
{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-4 text-center">
        <h2>{% trans "Logout" %}</h2>
        <p>{% trans "Are you sure you want to log out?" %}</p>
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger w-100">{% trans "Logout" %}</button>
        </form>
        <a href="/" class="btn btn-outline-secondary mt-3 w-100">{% trans "Cancel" %}</a>
    </div>
</div>
{% endblock %}