{% extends 'base.html' %}
{% load static %}
{% block title %}Sign In{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30 p-0">
                <a class="breadcrumb-item text-dark" href="{% url 'shop:index' %}">Home</a>
                <span class="breadcrumb-item active">Sign In</span>
            </nav>
        </div>
    </div>
</div>
<div class="container-fluid pt-5 pb-5">
    <div class="row px-xl-5 justify-content-center">
        <div class="col-lg-5">
            <div class="card border-secondary">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Sign In</h4>
                </div>
                <div class="card-body">
                    <p>If you have not created an account yet, please <a href="{% url 'account_signup' %}">sign up</a> first.</p>
                    <form method="post" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" name="login" class="form-control" placeholder="Username" required>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" placeholder="Password" required>
                        </div>
                        <div class="form-group d-flex justify-content-between align-items-center">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" name="remember" class="custom-control-input" id="remember">
                                <label class="custom-control-label" for="remember">Remember Me</label>
                            </div>
                            <a href="{% url 'account_reset_password' %}">Forgot your password?</a>
                        </div>
                        <input type="hidden" name="next" value="{{ request.GET.next }}">
                        <button type="submit" class="btn btn-primary btn-block py-3">Sign In</button>
                    </form>
                </div>
                <div class="card-footer border-secondary bg-transparent text-center">
                    <p class="m-0">Don't have an account? <a href="{% url 'account_signup' %}">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 
