{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block content %}

<!-- Carousel Start -->
<div class="container-fluid mb-3">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#header-carousel" data-slide-to="1"></li>
                    <li data-target="#header-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item position-relative active" style="height: 430px;">
                        <img  loading="lazy"class="position-absolute w-100 h-100" src="{% static 'img/carousel-1.jpg' %}"
                            style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animated fadeInDown">{% trans "Men Fashion" %}</h1>
                                <p class="mx-md-5 px-5 animated bounceIn">{% trans "Lorem rebum magna amet lorem magna erat diam stet." %}</p>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animated fadeInUp"
                                    href="{% url 'shop:product_list' %}">{% trans "Shop Now" %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item position-relative" style="height: 430px;">
                        <img loading="lazy"  class="position-absolute w-100 h-100" src="{% static 'img/carousel-2.jpg' %}"
                            style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animated fadeInDown">{% trans "Women Fashion" %}</h1>
                                <p class="mx-md-5 px-5 animated bounceIn">{% trans "Lorem rebum magna amet lorem magna erat diam stet." %}</p>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animated fadeInUp"
                                    href="{% url 'shop:product_list' %}">{% trans "Shop Now" %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item position-relative" style="height: 430px;">
                        <img  loading="lazy" class="position-absolute w-100 h-100" src="{% static 'img/carousel-3.jpg' %}"
                            style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animated fadeInDown">{% trans "Kids Fashion" %}</h1>
                                <p class="mx-md-5 px-5 animated bounceIn">{% trans "Lorem rebum magna amet lorem magna erat diam stet." %}</p>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animated fadeInUp"
                                    href="{% url 'shop:product_list' %}">{% trans "Shop Now" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="product-offer mb-30" style="height: 200px;">
                <img loading="lazy" class="img-fluid" src="{% static 'img/offer-1.jpg' %}" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">{% trans "Save 20%" %}</h6>
                    <h3 class="text-white mb-3">{% trans "Special Offer" %}</h3>
                    <a href="{% url 'shop:product_list' %}" class="btn btn-primary">{% trans "Shop Now" %}</a>
                </div>
            </div>
            <div class="product-offer mb-30" style="height: 200px;">
                <img  loading="lazy" class="img-fluid" src="{% static 'img/offer-2.jpg' %}" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">{% trans "Save 20%" %}</h6>
                    <h3 class="text-white mb-3">{% trans "Special Offer" %}</h3>
                    <a href="{% url 'shop:product_list' %}" class="btn btn-primary">{% trans "Shop Now" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Featured Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">{% trans "Quality Product" %}</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">{% trans "Free Shipping" %}</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">{% trans "14-Day Return" %}</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">{% trans "24/7 Support" %}</h5>
            </div>
        </div>
    </div>
</div>

<!-- Categories Start -->
<div class="container-fluid pt-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">{% trans "Categories" %}</span></h2>
    <div class="row px-xl-5 pb-3">
        {% for category in categories %}
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="{% url 'shop:product_list' %}?category={{ category.slug }}">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        {% if category.image %}
                        <img  loading="lazy" class="img-fluid" src="{{ category.image.url }}" alt="{{ category.translated_name }}">
                        {% else %}
                        <img  loading="lazy" class="img-fluid" src="{% static 'img/cat-1.jpg' %}" alt="{{ category.translated_name }}">
                        {% endif %}
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>{{ category.translated_name }}</h6>
                        <small class="text-body">{{ category.products.count }} {% trans "Products" %}</small>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Featured Products Start -->
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">{% trans "Featured Products" %}</span></h2>
    <div class="row px-xl-5">
        {% for product in products %}
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            {% include 'components/card.html' with product=product %}
        </div>
        {% empty %}
        <div class="col-12 text-center py-4 text-muted">{% trans "No products yet." %}</div>
        {% endfor %}
    </div>
</div>

<!-- Offer Start -->
<div class="container-fluid pt-5 pb-3">
    <div class="row px-xl-5">
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img  loading="lazy" class="img-fluid" src="{% static 'img/offer-1.jpg' %}" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">{% trans "Save 20%" %}</h6>
                    <h3 class="text-white mb-3">{% trans "Special Offer" %}</h3>
                    <a href="{% url 'shop:product_list' %}" class="btn btn-primary">{% trans "Shop Now" %}</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img  loading="lazy" class="img-fluid" src="{% static 'img/offer-2.jpg' %}" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">{% trans "Save 20%" %}</h6>
                    <h3 class="text-white mb-3">{% trans "Special Offer" %}</h3>
                    <a href="{% url 'shop:product_list' %}" class="btn btn-primary">{% trans "Shop Now" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Recent Products Start -->
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">{% trans "Recent Products" %}</span></h2>
    <div class="row px-xl-5">
        {% for product in products %}
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            {% include 'components/card.html' with product=product %}
        </div>
        {% endfor %}
    </div>
</div>

<!-- Vendor Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <img  loading="lazy" src="{% static 'img/vendor-1.jpg' %}" alt="{% trans 'Vendor' %} 1">
                <img  loading="lazy" src="{% static 'img/vendor-2.jpg' %}" alt="{% trans 'Vendor' %} 2">
                <img  loading="lazy" src="{% static 'img/vendor-3.jpg' %}" alt="{% trans 'Vendor' %} 3">
                <img  loading="lazy" src="{% static 'img/vendor-4.jpg' %}" alt="{% trans 'Vendor' %} 4">
                <img  loading="lazy" src="{% static 'img/vendor-5.jpg' %}" alt="{% trans 'Vendor' %} 5">
                <img  loading="lazy" src="{% static 'img/vendor-6.jpg' %}" alt="{% trans 'Vendor' %} 6">
                <img  loading="lazy" src="{% static 'img/vendor-7.jpg' %}" alt="{% trans 'Vendor' %} 7">
                <img  loading="lazy" src="{% static 'img/vendor-8.jpg' %}" alt="{% trans 'Vendor' %} 8">
            </div>
        </div>
    </div>
</div>

{% endblock %}