{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Shop" %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30 p-0">
                <a class="breadcrumb-item text-dark" href="{% url 'shop:index' %}">{% trans "Home" %}</a>
                <a class="breadcrumb-item text-dark" href="{% url 'shop:product_list' %}">{% trans "Shop" %}</a>
                <span class="breadcrumb-item active">{% trans "Shop List" %}</span>
            </nav>
        </div>
    </div>
</div>

<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <!-- Sidebar -->
        <div class="col-lg-3 col-md-4">
            <div class="border-bottom mb-4 pb-4">
                <h5 class="font-weight-semi-bold mb-4">{% trans "Filter by price" %}</h5>
                <form method="get">
                    {% if q %}<input type="hidden" name="q" value="{{ q }}">{% endif %}
                    <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                        <input type="radio" class="custom-control-input" id="price-all" name="price" value="" {% if not
                            request.GET.price %}checked{% endif %} onchange="this.form.submit()">
                        <label class="custom-control-label" for="price-all">{% trans "All Price" %}</label>
                        <span class="badge border font-weight-normal">1000</span>
                    </div>
                    <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                        <input type="radio" class="custom-control-input" id="price-1" name="price" value="0-100"
                            onchange="this.form.submit()">
                        <label class="custom-control-label" for="price-1">$0 - $100</label>
                    </div>
                    <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                        <input type="radio" class="custom-control-input" id="price-2" name="price" value="100-200"
                            onchange="this.form.submit()">
                        <label class="custom-control-label" for="price-2">$100 - $200</label>
                    </div>
                    <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                        <input type="radio" class="custom-control-input" id="price-3" name="price" value="200-300"
                            onchange="this.form.submit()">
                        <label class="custom-control-label" for="price-3">$200 - $300</label>
                    </div>
                    <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                        <input type="radio" class="custom-control-input" id="price-4" name="price" value="300-400"
                            onchange="this.form.submit()">
                        <label class="custom-control-label" for="price-4">$300 - $400</label>
                    </div>
                    <div class="custom-control custom-radio d-flex align-items-center justify-content-between">
                        <input type="radio" class="custom-control-input" id="price-5" name="price" value="400-500"
                            onchange="this.form.submit()">
                        <label class="custom-control-label" for="price-5">$400 - $500</label>
                    </div>
                </form>
            </div>
            <div class="border-bottom mb-4 pb-4">
                <h5 class="font-weight-semi-bold mb-4">{% trans "Filter by color" %}</h5>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" id="color-all" checked>
                    <label class="custom-control-label" for="color-all">{% trans "All Color" %}</label>
                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" id="color-1">
                    <label class="custom-control-label" for="color-1">{% trans "Black" %}</label>
                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" id="color-2">
                    <label class="custom-control-label" for="color-2">{% trans "White" %}</label>
                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" id="color-3">
                    <label class="custom-control-label" for="color-3">{% trans "Red" %}</label>
                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" id="color-4">
                    <label class="custom-control-label" for="color-4">{% trans "Blue" %}</label>
                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                    <input type="checkbox" class="custom-control-input" id="color-5">
                    <label class="custom-control-label" for="color-5">{% trans "Green" %}</label>
                </div>
            </div>
            <div class="border-bottom mb-4 pb-4">
                <h5 class="font-weight-semi-bold mb-4">{% trans "Filter by size" %}</h5>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" id="size-all" checked>
                    <label class="custom-control-label" for="size-all">{% trans "All Size" %}</label>
                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" id="size-1">
                    <label class="custom-control-label" for="size-1">XS</label>
                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" id="size-2">
                    <label class="custom-control-label" for="size-2">S</label>
                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" id="size-3">
                    <label class="custom-control-label" for="size-3">M</label>
                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" id="size-4">
                    <label class="custom-control-label" for="size-4">L</label>
                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                    <input type="checkbox" class="custom-control-input" id="size-5">
                    <label class="custom-control-label" for="size-5">XL</label>
                </div>
            </div>
        </div>

        <!-- Products -->
        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">
                <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <form action="{% url 'shop:product_list' %}" method="get">
                            <div class="input-group">
                                <input type="text" name="q" value="{{ q }}" class="form-control"
                                    placeholder="{% trans 'Search by name' %}">
                                <div class="input-group-append">
                                    <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                        <div class="dropdown ml-4">
                            <button class="btn border dropdown-toggle" type="button" data-toggle="dropdown">{% trans
                                "Sorting" %}</button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="?{% if q %}q={{ q }}&{% endif %}sort=latest">{% trans
                                    "Latest" %}</a>
                                <a class="dropdown-item" href="?{% if q %}q={{ q }}&{% endif %}sort=popular">{% trans
                                    "Popularity" %}</a>
                            </div>
                        </div>
                        <div class="dropdown ml-2">
                            <button class="btn border dropdown-toggle" type="button" data-toggle="dropdown">{% trans
                                "Showing" %}</button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="?{% if q %}q={{ q }}&{% endif %}per_page=10">10</a>
                                <a class="dropdown-item" href="?{% if q %}q={{ q }}&{% endif %}per_page=20">20</a>
                                <a class="dropdown-item" href="?{% if q %}q={{ q }}&{% endif %}per_page=30">30</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% for product in products %}
                <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                    {% include 'components/card.html' with product=product %}
                </div>
                {% empty %}
                <div class="col-12 text-center py-5 text-muted">{% trans "No products found." %}</div>
                {% endfor %}
                <div class="col-12 pb-1">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center mb-3">
                            {% if products.has_previous %}
                            <li class="page-item"><a class="page-link"
                                    href="?page={{ products.previous_page_number }}{% if q %}&q={{ q }}{% endif %}">{%
                                    trans "Previous" %}</a></li>
                            {% endif %}
                            {% for num in products.paginator.page_range %}
                            <li class="page-item {% if products.number == num %}active{% endif %}">
                                <a class="page-link" href="?page={{ num }}{% if q %}&q={{ q }}{% endif %}">{{ num }}</a>
                            </li>
                            {% endfor %}
                            {% if products.has_next %}
                            <li class="page-item"><a class="page-link"
                                    href="?page={{ products.next_page_number }}{% if q %}&q={{ q }}{% endif %}">{% trans
                                    "Next" %}</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}